"*":
  "autoclose-html":
    makeNeverCloseSelfClosing: false
  core:
    disabledPackages: [
      "language-clojure"
      "language-go"
      "language-mustache"
      "ide-csharp"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".sass-cache"
    ]
    packagesWithKeymapsDisabled: [
      "jekyll"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-syntax"
    ]
    titleBar: "custom"
  editor:
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "c6ecdfe6-c496-4331-937d-5bb16acf637e"
  "highlight-selected": {}
  jekyll: {}
  "markdown-preview":
    useGitHubStyle: true
  minimap: {}
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  "vim-mode-plus":
    blackholeRegisteredOperators: [
      "delete*"
      "substitute*"
    ]
    keymapYToYankToLastCharacterOfLine: true
  welcome:
    showOnStartup: false
".basic.html.text":
  editor:
    softWrap: true
".css.liquid.scss.source":
  editor:
    softWrapHangingIndent: 2
".css.scss.source":
  editor:
    softWrapHangingIndent: 2
".css.source":
  editor:
    softWrapHangingIndent: 2
    tabType: "soft"
".python.source":
  editor:
    autoIndentOnPaste: true
".sass.source":
  editor:
    softWrapHangingIndent: 2
    tabType: "soft"
".source.yaml":
  editor:
    autoIndentOnPaste: false
    tabLength: 2
